form.hardness-form
    input.start__hardness-choose.visually-hidden#hardness-choose-hard(type="radio", name="hardness-choose" value="true" checked)
    label.start__hardness-label(for="hardness-choose-hard") Сложно
    input.start__hardness-choose.visually-hidden#hardness-choose-easy(type="radio", name="hardness-choose" value="false")
    label.start__hardness-label(for="hardness-choose-easy") Легко