section.content.default-layout.display-none 
    div.content-input
        label.visually-hidden(for="hidden-input") Введите число
        input.content-input__hidden-input.visually-hidden#hidden-input(type="text" inputmode="numeric" pattern="\d*" maxlength="4" autocomplete="off")
        p.content-input__visual.content-input__visual_one
        p.content-input__visual.content-input__visual_two
        p.content-input__visual.content-input__visual_three
        p.content-input__visual.content-input__visual_four
    button.handle-input.button(type="button") Проверить
    div.table
        p.table__heading No 
        p.table__heading Число
        p.table__heading Быки
        p.table__heading Коровы