.start {
    display: flex;
    gap: 50px;
    &__button {
        background-color: #51B166;
        color: #fff;
    }

    &__title {
        font-size: clamp(32px, 9.72vmin, 105px);
        color: #0F551E;
        text-align: center;
    }

    &__hardness-label {
        position: relative;
        display: block;
        padding-inline: 25px;
        padding-block: 10px;
        color:#0F551E;
        background-color: transparent;

        &:first-of-type {
            margin-inline-end: 50px;
        }
    }

    &__hardness-choose:checked + &__hardness-label {
        z-index: 3;
        color:#fff;
    }

    &__hardness-choose:checked + &__hardness-label:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        inline-size: 100%;
        block-size: 100%;
        border-radius: 1em;
        background-color: #0F551E;
        animation: hardness 0.5s linear infinite alternate;
    }

    &__rules-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-family, sans-serif;
        background-color: #999;
        text-decoration: none;
        color: #fff;
    }
}

.hardness-form {
    display: flex;
}